.menu-dropdown-icon {

  & > a,
  & > .a {
    position: relative;
    padding-right: 36px !important;

    &::before {
      display: block;
      content: "";
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);
      width: 10px;
      height: 6px;
      background-size: 10px 6px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: svg-load('../blocks/sprite-svg/svg/caret-down-icon.svg', fill=$text-color);
    }

    &:hover,
    &:focus {

      &::before {
        background-image: svg-load('../blocks/sprite-svg/svg/caret-down-icon.svg', fill=$main-color);
      }
    }
  }
}
.menu > ul {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}
.menu > ul::before,
.menu > ul::after {
  content: "";
  display: table;
}
.menu > ul::after {
  clear: both;
}
.menu > ul > li {
  height: 100%;
  float: left;
  padding: 0;
  margin: 0;
  background: transparent;
  transition: .2s ease-in-out;

  &.active > a,
  &.active > span {
    //color: $main-color;
    background-color: $white;
    //pointer-events: none;

    &::before {
      background-image: svg-load('../blocks/sprite-svg/svg/caret-down-icon.svg', fill=$main-color);
    }
  }
}
.menu > ul > li a,
.menu > ul > li .a,
.menu-mobile {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 16px;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  text-decoration: none;
  color: $title-color;
  transition: .2s ease-in-out;
}
.menu-mobile {
  display: none;
}
.menu > ul > li:hover {
  background: $white;
}
.menu > ul > li:hover a {
    //color: #000;
}
.menu > ul > li > ul {
  box-sizing: border-box;
  display: none;
  position: absolute;
  width: 100%;
  padding: 5px 16px;
  z-index: 99;
  left: 0;
  margin: 0;
  list-style: none;
  background: $white;
}
.menu > ul > li > ul::before,
.menu > ul > li > ul::after {
  content: "";
  display: table;
}
.menu > ul > li > ul::after {
  clear: both;
}
.menu > ul > li > ul > li {
  margin: 0;
  padding-bottom: 0;
  list-style: none;
  width: 25%;
  background: none;
  float: left;
}
.menu > ul > li > ul > li a,
.menu > ul > li > ul > li .a {
  padding: 10px;
  display: block;
  //border-bottom: 1px solid #337AB7;
}
.menu > ul > li > ul > li a:hover {
  color: $main-color;
  //border-bottom: 1px solid #000;
}
.menu > ul > li > ul > li > ul {
  display: block;
  padding: 0;
  margin: 10px 0 0;
  list-style: none;
  box-sizing: border-box;
}
.menu > ul > li > ul > li > ul::before,
.menu > ul > li > ul > li > ul::after {
  content: "";
  display: table;
}
.menu > ul > li > ul > li > ul::after {
  clear: both;
}
.menu > ul > li > ul > li > ul > li {
  float: left;
  width: 100%;
  margin: 0;
}
.menu > ul > li > ul > li > ul > li a,
.menu > ul > li > ul > li > ul > li .a {
  border: 0;
  padding: 10px 12px;
  font-size: 18px;
}
.menu > ul > li > ul > li > ul > li a:hover {
  border: 0;
}
.menu > ul > li > ul.normal-sub {
  width: auto;
  max-width: 250px;
  left: auto;
  padding: 0 16px;
}
.menu > ul > li > ul.normal-sub > li {
  width: 100%;

  &.active > a,
  &.active > span {
    color: $main-color;
    pointer-events: none;
  }
}
.menu > ul > li > ul.normal-sub > li a,
.menu > ul > li > ul.normal-sub > li .a {
  padding: 8px 0;
  line-height: 1.2;
  border: 0;
}


.main-nav {
  height: 100%;

  @media (max-width: $menu-desktop-width - 1) {
    display: none;
  }

  $block-name:                &; // #{$block-name}__element

  // переключатель

  &__toggler {
    display: inline-block;
    padding: 0;
    background: none;
    border: none;

    .no-js & {
      display: none;
    }

    @media (min-width: $menu-desktop-width) {
      display: none;
    }
  }
}
