.gallery {

  $block-name:                &; // #{$block-name}__element

  &__col {
    @include col(xs, 12);
    @include col(md, 6);
    @include col(xl, 4);
    margin-bottom: 20px;
  }

  &__img {
    border-radius: $border-radius--xl;

    img {
      object-fit: cover;
      object-position: center;
    }
  }
}
