.btn {

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  position: relative;
  display: inline-block;
  min-width: 160px;
  padding: $field-padding-vertical 32px;
  margin: 0;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  line-height: $line-height;
  text-decoration: none;
  text-transform: none;
  border-radius: 32px;
  border: 2px solid $main-color;
  color: $main-color;
  background-color: transparent;
  user-select: none;
  cursor: pointer;
  transition: background-color $transition-time;

  &:hover,
  &:focus {
    text-decoration: none;
    //color: $text-color;
    background-color: rgba(222, 59, 80, 0.04);
    // border-color: darken($gray-lighter, 12%);
  }

  &:active,
  &:focus {
    // @include field-focus;
  }

  &--disabled,
  &:disabled {
    // opacity: $opacity;
    cursor: not-allowed;
    color: $text-muted;
    background-color: $gray-lightest;
    border-color: $border-color;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  &--arrow {
    min-width: 214px;
    padding-right: 42px;
    text-align: left;
    background-position: right 18px center;
    background-repeat: no-repeat;
    background-size: 8px 14px;
    background-image: svg-load('../blocks/sprite-svg/svg/btn-arrow-icon.svg', fill=$main-color);

    &.btn--disabled {
      background-image: svg-load('../blocks/sprite-svg/svg/btn-arrow-icon.svg', fill=$text-muted);
    }

    &--fill {
      color: $white;
      background-color: $main-color;
      background-image: svg-load('../blocks/sprite-svg/svg/btn-arrow-icon.svg', fill=$white);

      &:hover,
      &:focus {
        color: $white;
        background-color: $main-color--active;
        border-color: $main-color--active;
      }

      &:disabled {
        cursor: not-allowed;
        color: $text-muted;
        background-color: $gray-lightest;
        border-color: $border-color;
        background-image: svg-load('../blocks/sprite-svg/svg/btn-arrow-icon.svg', fill=$text-muted);

        @at-root a.btn--disabled {
          pointer-events: none;
        }
      }
    }
  }

  &--link {
    position: static;
    min-width: 50px;
    padding: 0 36px 0 0;
    text-align: left;
    color: $text-color;
    background-color: transparent;
    background-position: right 14px center;
    background-repeat: no-repeat;
    background-size: 8px 14px;
    background-image: svg-load('../blocks/sprite-svg/svg/btn-arrow-icon.svg', fill=$main-color);
    border-radius: 0;
    border: none;
    transition: all $transition-time;

    &:hover,
    &:focus {
      background-color: transparent;
      background-position: right 4px center;
    }

    &--reverse {
      padding: 0 0 0 36px;
      //text-align: right;
      background-position: left 14px center;
      background-image: svg-load('../blocks/sprite-svg/svg/btn-arrow-left-icon.svg', fill=$main-color);

      &:hover,
      &:focus {
        background-position: left 4px center;
      }
    }
  }

  &--fill {
    color: $white;
    background-color: $main-color;

    &:hover,
    &:focus {
      color: $white;
      background-color: $main-color--active;
      border-color: $main-color--active;
    }
  }

  // &--main {
  //   color: #fff;
  //   background-color: $color-main;
  //   border: 1px solid $color-main;

  //   &:hover,
  //   &:focus {
  //     color: #fff;
  //     background-color: darken($color-main, 10%);
  //     border-color: darken($color-main, 12%);
  //   }

  //   &--disabled,
  //   &:disabled {
  //     color: #fff;
  //     background-color: $color-main;
  //     border-color: $color-main;
  //   }
  // }
}
