.password-recovery {

  $block-name:                &; // #{$block-name}__element

  .login-form__container {
    border: 1px solid $border-color;

    @media (min-width: $screen-md) {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
  }


  &__submit-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    & > * {
      flex: 1 1;
      flex-basis: 100%;
      min-width: 150px;

      @media (min-width: $screen-md) {
        flex: 0 1;
        flex-basis: calc(50% - 10px);
      }
    }

    * + * {

      @media (max-width: $screen-md - 1) {
        margin-top: 24px;
      }
    }
  }
}
